


.conteiner {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}


.text {
	color: var(--paragraph-text-color);
	line-height: 1.71;
}

.list {
	list-style: none;
}

.title {
	margin-bottom: 10px;
}
